$header--padding-x-mobile-tablet: 16px;
$header--padding-x-desktop: 24px;
$header-border-width: 1px;
$header--height-mobile-tablet: 48px + $header-border-width;
$header--height-desktop: 64px + $header-border-width;
