// Colors
$color-solid-graphite: #313237;
$color-light-gray-camo: #89939A;
$color-cloud-gray: #B4BDC3;
$color-cute-silver: #E2E6E9;
$color-pale-white: #FAFBFC;
$color-white: #FFF;
$color-crispy-mint-green: #27AE60;
$color-red-aura: #EB5757;
